<script src="/static/js/plugins/fullcalendar/moment.min.js"></script>
<script src="/static/js/jquery-3.1.1.min.js"></script>
<script src="/static/js/bootstrap.min.js"></script>
<script src="/static/js/plugins/metisMenu/jquery.metisMenu.js"></script>
<script src="/static/js/plugins/slimscroll/jquery.slimscroll.min.js"></script>

<!-- Custom and plugin javascript -->
<script src="/static/js/inspinia.js"></script>
<script src="/static/js/plugins/pace/pace.min.js"></script>

<!-- jQuery UI  -->
<script src="/static/js/plugins/jquery-ui/jquery-ui.min.js"></script>

<!-- iCheck -->
<script src="/static/js/plugins/iCheck/icheck.min.js"></script>

<!-- Full Calendar -->
<script src="/static/js/plugins/fullcalendar/fullcalendar.min.js"></script>
<script src="/static/js/plugins/jasny/jasny-bootstrap.min.js"></script>


<script>

    $(document).ready(function() {

        $('.i-checks').iCheck({
            checkboxClass: 'icheckbox_square-green',
            radioClass: 'iradio_square-green'
        });

        /* initialize the external events
         -----------------------------------------------------------------*/


        $('#external-events div.external-event').each(function() {

            // store data so the calendar knows to render an event upon drop
            $(this).data('event', {
                title: $.trim($(this).text()), // use the element's text as the event title
                stick: true // maintain when user navigates (see docs on the renderEvent method)
            });

            // make the event draggable using jQuery UI
            $(this).draggable({
                zIndex: 1111999,
                revert: true,      // will cause the event to go back to its
                revertDuration: 0  //  original position after the drag
            });

        });
    });

   $('#submit').click(function () {
       var $toast;
       var form = new FormData(document.getElementById("fileUpload"));
       var xsrftoken = $('meta[name=_xsrf]').attr('content');

       $.ajax({
           //几个参数需要注意一下
           type: "POST",//方法类型
           dataType: "json",//预期服务器返回的数据类型
           url: "/tools/file/upload",
           data:form,
           processData:false,
           contentType:false,
           beforeSend: function (XMLHttpRequest) {
               XMLHttpRequest.setRequestHeader("X-Xsrftoken", xsrftoken);
           },
           success: function (result) {
               console.log(result);//打印服务端返回的数据(调试用)
               if (result["status"] === 1) {
                   $toast = toastr["success"]("提交成功", result["message"]);
                   window.location.reload();
               } else if (result["status"] === 0) {
                   $toast = toastr["error"]("错误", result["message"]);
               }
           },
           error: function () {
               $toast = toastr["error"]("错误", "发送失败");
           }
       });
   });

</script>