<div class="wrapper wrapper-content">
    <div class="row">
        <div class="col-lg-12 animated fadeInRight">
            <div class="mail-box-header">

                <form method="get" action="index.html" class="pull-right mail-search">
                    <div class="input-group">
                        <input type="text" class="form-control input-sm" name="search" placeholder="请输入搜索的邮件">
                        <div class="input-group-btn">
                            <button type="submit" class="btn btn-sm btn-primary">
                                搜索
                            </button>
                        </div>
                    </div>
                </form>
                <h2>
                    收件箱 (16)
                </h2>
                <div class="mail-tools tooltip-demo m-t-md">
                    <div class="btn-group pull-right">
                        <button class="btn btn-white btn-sm"><i class="fa fa-arrow-left"></i></button>
                        <button class="btn btn-white btn-sm"><i class="fa fa-arrow-right"></i></button>

                    </div>
                    <button class="btn btn-white btn-sm" data-toggle="tooltip" data-placement="left" title="刷新收件箱"><i
                            class="fa fa-refresh"></i> 刷新
                    </button>
                    <button class="btn btn-white btn-sm" data-toggle="tooltip" data-placement="top" title="标记为已读"><i
                            class="fa fa-eye"></i></button>
                    <button class="btn btn-white btn-sm" data-toggle="tooltip" data-placement="top" title="标记为重要"><i
                            class="fa fa-exclamation"></i></button>
                    <button class="btn btn-white btn-sm" data-toggle="tooltip" data-placement="top" title="移动废纸篓"><i
                            class="fa fa-trash-o"></i></button>

                </div>
            </div>
            <div class="mail-box">

                <table class="table table-hover table-mail">
                    <tbody>
                    <tr class="unread">
                        <td class="check-mail">
                            <div class="icheckbox_square-green" style="position: relative;"><input type="checkbox"
                                                                                                   class="i-checks"
                                                                                                   style="position: absolute; opacity: 0;">
                                <ins class="iCheck-helper"
                                     style="position: absolute; top: 0%; left: 0%; display: block; width: 100%; height: 100%; margin: 0px; padding: 0px; background: rgb(255, 255, 255) none repeat scroll 0% 0%; border: 0px none; opacity: 0;"></ins>
                            </div>
                        </td>
                        <td class="mail-ontact"><a href="/mail/detail?id=1">欧文</a></td>
                        <td class="mail-subject"><a href="/mail/detail?id=1">真理惟一可靠的标准就是永远自相符合。</a></td>
                        <td class=""><i class="fa fa-paperclip"></i></td>
                        <td class="text-right mail-date">6.10</td>
                    </tr>
                    <tr class="unread">
                        <td class="check-mail">
                            <div class="icheckbox_square-green checked" style="position: relative;"><input
                                    type="checkbox" class="i-checks" checked="" style="position: absolute; opacity: 0;">
                                <ins class="iCheck-helper"
                                     style="position: absolute; top: 0%; left: 0%; display: block; width: 100%; height: 100%; margin: 0px; padding: 0px; background: rgb(255, 255, 255) none repeat scroll 0% 0%; border: 0px none; opacity: 0;"></ins>
                            </div>
                        </td>
                        <td class="mail-ontact"><a href="mail_detail.html">欧文</a></td>
                        <td class="mail-subject"><a href="mail_detail.html">真理惟一可靠的标准就是永远自相符合。</a></td>
                        <td class=""></td>
                        <td class="text-right mail-date">8.22</td>
                    </tr>
                    <tr class="read">
                        <td class="check-mail">
                            <div class="icheckbox_square-green" style="position: relative;"><input type="checkbox"
                                                                                                   class="i-checks"
                                                                                                   style="position: absolute; opacity: 0;">
                                <ins class="iCheck-helper"
                                     style="position: absolute; top: 0%; left: 0%; display: block; width: 100%; height: 100%; margin: 0px; padding: 0px; background: rgb(255, 255, 255) none repeat scroll 0% 0%; border: 0px none; opacity: 0;"></ins>
                            </div>
                        </td>
                        <td class="mail-ontact"><a href="mail_detail.html">欧文</a> <span
                                class="label label-warning pull-right">Aelita</span></td>
                        <td class="mail-subject"><a href="mail_detail.html">真理惟一可靠的标准就是永远自相符合。</a></td>
                        <td class=""></td>
                        <td class="text-right mail-date">12月12日</td>
                    </tr>
                    <tr class="read">
                        <td class="check-mail">
                            <div class="icheckbox_square-green" style="position: relative;"><input type="checkbox"
                                                                                                   class="i-checks"
                                                                                                   style="position: absolute; opacity: 0;">
                                <ins class="iCheck-helper"
                                     style="position: absolute; top: 0%; left: 0%; display: block; width: 100%; height: 100%; margin: 0px; padding: 0px; background: rgb(255, 255, 255) none repeat scroll 0% 0%; border: 0px none; opacity: 0;"></ins>
                            </div>
                        </td>
                        <td class="mail-ontact"><a href="mail_detail.html">欧文</a></td>
                        <td class="mail-subject"><a href="mail_detail.html">真理惟一可靠的标准就是永远自相符合。</a></td>
                        <td class=""></td>
                        <td class="text-right mail-date">12月12日</td>
                    </tr>
                    <tr class="read">
                        <td class="check-mail">
                            <div class="icheckbox_square-green" style="position: relative;"><input type="checkbox"
                                                                                                   class="i-checks"
                                                                                                   style="position: absolute; opacity: 0;">
                                <ins class="iCheck-helper"
                                     style="position: absolute; top: 0%; left: 0%; display: block; width: 100%; height: 100%; margin: 0px; padding: 0px; background: rgb(255, 255, 255) none repeat scroll 0% 0%; border: 0px none; opacity: 0;"></ins>
                            </div>
                        </td>
                        <td class="mail-ontact"><a href="mail_detail.html">欧文</a> <span
                                class="label label-danger pull-right">文件</span></td>
                        <td class="mail-subject"><a href="mail_detail.html">真理惟一可靠的标准就是永远自相符合。</a></td>
                        <td class=""><i class="fa fa-paperclip"></i></td>
                        <td class="text-right mail-date">12月12日</td>
                    </tr>
                    <tr class="read">
                        <td class="check-mail">
                            <div class="icheckbox_square-green" style="position: relative;"><input type="checkbox"
                                                                                                   class="i-checks"
                                                                                                   style="position: absolute; opacity: 0;">
                                <ins class="iCheck-helper"
                                     style="position: absolute; top: 0%; left: 0%; display: block; width: 100%; height: 100%; margin: 0px; padding: 0px; background: rgb(255, 255, 255) none repeat scroll 0% 0%; border: 0px none; opacity: 0;"></ins>
                            </div>
                        </td>
                        <td class="mail-ontact"><a href="mail_detail.html">欧文</a></td>
                        <td class="mail-subject"><a href="mail_detail.html">真理惟一可靠的标准就是永远自相符合。</a></td>
                        <td class=""></td>
                        <td class="text-right mail-date">12月12日</td>
                    </tr>
                    <tr class="read">
                        <td class="check-mail">
                            <div class="icheckbox_square-green" style="position: relative;"><input type="checkbox"
                                                                                                   class="i-checks"
                                                                                                   style="position: absolute; opacity: 0;">
                                <ins class="iCheck-helper"
                                     style="position: absolute; top: 0%; left: 0%; display: block; width: 100%; height: 100%; margin: 0px; padding: 0px; background: rgb(255, 255, 255) none repeat scroll 0% 0%; border: 0px none; opacity: 0;"></ins>
                            </div>
                        </td>
                        <td class="mail-ontact"><a href="mail_detail.html">欧文</a></td>
                        <td class="mail-subject"><a href="mail_detail.html">真理惟一可靠的标准就是永远自相符合。</a></td>
                        <td class=""></td>
                        <td class="text-right mail-date">12月12日</td>
                    </tr>
                    <tr class="read">
                        <td class="check-mail">
                            <div class="icheckbox_square-green" style="position: relative;"><input type="checkbox"
                                                                                                   class="i-checks"
                                                                                                   style="position: absolute; opacity: 0;">
                                <ins class="iCheck-helper"
                                     style="position: absolute; top: 0%; left: 0%; display: block; width: 100%; height: 100%; margin: 0px; padding: 0px; background: rgb(255, 255, 255) none repeat scroll 0% 0%; border: 0px none; opacity: 0;"></ins>
                            </div>
                        </td>
                        <td class="mail-ontact"><a href="mail_detail.html">欧文</a> <span
                                class="label label-info pull-right">广告</span></td>
                        <td class="mail-subject"><a href="mail_detail.html">真理惟一可靠的标准就是永远自相符合。</a></td>
                        <td class=""></td>
                        <td class="text-right mail-date">12月12日</td>
                    </tr>
                    <tr class="read">
                        <td class="check-mail">
                            <div class="icheckbox_square-green" style="position: relative;"><input type="checkbox"
                                                                                                   class="i-checks"
                                                                                                   style="position: absolute; opacity: 0;">
                                <ins class="iCheck-helper"
                                     style="position: absolute; top: 0%; left: 0%; display: block; width: 100%; height: 100%; margin: 0px; padding: 0px; background: rgb(255, 255, 255) none repeat scroll 0% 0%; border: 0px none; opacity: 0;"></ins>
                            </div>
                        </td>
                        <td class="mail-ontact"><a href="mail_detail.html">欧文</a></td>
                        <td class="mail-subject"><a href="mail_detail.html">真理惟一可靠的标准就是永远自相符合。</a></td>
                        <td class=""></td>
                        <td class="text-right mail-date">12月12日</td>
                    </tr>
                    <tr class="read">
                        <td class="check-mail">
                            <div class="icheckbox_square-green" style="position: relative;"><input type="checkbox"
                                                                                                   class="i-checks"
                                                                                                   style="position: absolute; opacity: 0;">
                                <ins class="iCheck-helper"
                                     style="position: absolute; top: 0%; left: 0%; display: block; width: 100%; height: 100%; margin: 0px; padding: 0px; background: rgb(255, 255, 255) none repeat scroll 0% 0%; border: 0px none; opacity: 0;"></ins>
                            </div>
                        </td>
                        <td class="mail-ontact"><a href="mail_detail.html">欧文</a></td>
                        <td class="mail-subject"><a href="mail_detail.html">真理惟一可靠的标准就是永远自相符合。</a></td>
                        <td class=""></td>
                        <td class="text-right mail-date">12月12日</td>
                    </tr>
                    <tr class="read">
                        <td class="check-mail">
                            <div class="icheckbox_square-green" style="position: relative;"><input type="checkbox"
                                                                                                   class="i-checks"
                                                                                                   style="position: absolute; opacity: 0;">
                                <ins class="iCheck-helper"
                                     style="position: absolute; top: 0%; left: 0%; display: block; width: 100%; height: 100%; margin: 0px; padding: 0px; background: rgb(255, 255, 255) none repeat scroll 0% 0%; border: 0px none; opacity: 0;"></ins>
                            </div>
                        </td>
                        <td class="mail-ontact"><a href="mail_detail.html">欧文</a></td>
                        <td class="mail-subject"><a href="mail_detail.html">真理惟一可靠的标准就是永远自相符合。</a></td>
                        <td class=""><i class="fa fa-paperclip"></i></td>
                        <td class="text-right mail-date">12月12日</td>
                    </tr>
                    <tr class="read">
                        <td class="check-mail">
                            <div class="icheckbox_square-green" style="position: relative;"><input type="checkbox"
                                                                                                   class="i-checks"
                                                                                                   style="position: absolute; opacity: 0;">
                                <ins class="iCheck-helper"
                                     style="position: absolute; top: 0%; left: 0%; display: block; width: 100%; height: 100%; margin: 0px; padding: 0px; background: rgb(255, 255, 255) none repeat scroll 0% 0%; border: 0px none; opacity: 0;"></ins>
                            </div>
                        </td>
                        <td class="mail-ontact"><a href="mail_detail.html">欧文</a></td>
                        <td class="mail-subject"><a href="mail_detail.html">真理惟一可靠的标准就是永远自相符合。</a></td>
                        <td class=""></td>
                        <td class="text-right mail-date">12月12日</td>
                    </tr>
                    <tr class="read">
                        <td class="check-mail">
                            <div class="icheckbox_square-green" style="position: relative;"><input type="checkbox"
                                                                                                   class="i-checks"
                                                                                                   style="position: absolute; opacity: 0;">
                                <ins class="iCheck-helper"
                                     style="position: absolute; top: 0%; left: 0%; display: block; width: 100%; height: 100%; margin: 0px; padding: 0px; background: rgb(255, 255, 255) none repeat scroll 0% 0%; border: 0px none; opacity: 0;"></ins>
                            </div>
                        </td>
                        <td class="mail-ontact"><a href="mail_detail.html">欧文</a></td>
                        <td class="mail-subject"><a href="mail_detail.html">真理惟一可靠的标准就是永远自相符合。</a></td>
                        <td class=""></td>
                        <td class="text-right mail-date">12月12日</td>
                    </tr>
                    <tr class="read">
                        <td class="check-mail">
                            <div class="icheckbox_square-green" style="position: relative;"><input type="checkbox"
                                                                                                   class="i-checks"
                                                                                                   style="position: absolute; opacity: 0;">
                                <ins class="iCheck-helper"
                                     style="position: absolute; top: 0%; left: 0%; display: block; width: 100%; height: 100%; margin: 0px; padding: 0px; background: rgb(255, 255, 255) none repeat scroll 0% 0%; border: 0px none; opacity: 0;"></ins>
                            </div>
                        </td>
                        <td class="mail-ontact"><a href="mail_detail.html">欧文</a> <span
                                class="label label-warning pull-right">客户端</span></td>
                        <td class="mail-subject"><a href="mail_detail.html">真理惟一可靠的标准就是永远自相符合。</a></td>
                        <td class=""><i class="fa fa-paperclip"></i></td>
                        <td class="text-right mail-date">12月12日</td>
                    </tr>
                    <tr class="read">
                        <td class="check-mail">
                            <div class="icheckbox_square-green" style="position: relative;"><input type="checkbox"
                                                                                                   class="i-checks"
                                                                                                   style="position: absolute; opacity: 0;">
                                <ins class="iCheck-helper"
                                     style="position: absolute; top: 0%; left: 0%; display: block; width: 100%; height: 100%; margin: 0px; padding: 0px; background: rgb(255, 255, 255) none repeat scroll 0% 0%; border: 0px none; opacity: 0;"></ins>
                            </div>
                        </td>
                        <td class="mail-ontact"><a href="mail_detail.html">欧文</a></td>
                        <td class="mail-subject"><a href="mail_detail.html">真理惟一可靠的标准就是永远自相符合。</a></td>
                        <td class=""></td>
                        <td class="text-right mail-date">12月12日</td>
                    </tr>
                    <tr class="read">
                        <td class="check-mail">
                            <div class="icheckbox_square-green" style="position: relative;"><input type="checkbox"
                                                                                                   class="i-checks"
                                                                                                   style="position: absolute; opacity: 0;">
                                <ins class="iCheck-helper"
                                     style="position: absolute; top: 0%; left: 0%; display: block; width: 100%; height: 100%; margin: 0px; padding: 0px; background: rgb(255, 255, 255) none repeat scroll 0% 0%; border: 0px none; opacity: 0;"></ins>
                            </div>
                        </td>
                        <td class="mail-ontact"><a href="mail_detail.html">欧文</a></td>
                        <td class="mail-subject"><a href="mail_detail.html">真理惟一可靠的标准就是永远自相符合。</a></td>
                        <td class=""></td>
                        <td class="text-right mail-date">12月12日</td>
                    </tr>
                    <tr class="read">
                        <td class="check-mail">
                            <div class="icheckbox_square-green" style="position: relative;"><input type="checkbox"
                                                                                                   class="i-checks"
                                                                                                   style="position: absolute; opacity: 0;">
                                <ins class="iCheck-helper"
                                     style="position: absolute; top: 0%; left: 0%; display: block; width: 100%; height: 100%; margin: 0px; padding: 0px; background: rgb(255, 255, 255) none repeat scroll 0% 0%; border: 0px none; opacity: 0;"></ins>
                            </div>
                        </td>
                        <td class="mail-ontact"><a href="mail_detail.html">欧文</a></td>
                        <td class="mail-subject"><a href="mail_detail.html">真理惟一可靠的标准就是永远自相符合。</a></td>
                        <td class=""></td>
                        <td class="text-right mail-date">12月12日</td>
                    </tr>
                    <tr class="read">
                        <td class="check-mail">
                            <div class="icheckbox_square-green" style="position: relative;"><input type="checkbox"
                                                                                                   class="i-checks"
                                                                                                   style="position: absolute; opacity: 0;">
                                <ins class="iCheck-helper"
                                     style="position: absolute; top: 0%; left: 0%; display: block; width: 100%; height: 100%; margin: 0px; padding: 0px; background: rgb(255, 255, 255) none repeat scroll 0% 0%; border: 0px none; opacity: 0;"></ins>
                            </div>
                        </td>
                        <td class="mail-ontact"><a href="mail_detail.html">欧文</a></td>
                        <td class="mail-subject"><a href="mail_detail.html">真理惟一可靠的标准就是永远自相符合。</a></td>
                        <td class=""></td>
                        <td class="text-right mail-date">12月12日</td>
                    </tr>
                    <tr class="read">
                        <td class="check-mail">
                            <div class="icheckbox_square-green" style="position: relative;"><input type="checkbox"
                                                                                                   class="i-checks"
                                                                                                   style="position: absolute; opacity: 0;">
                                <ins class="iCheck-helper"
                                     style="position: absolute; top: 0%; left: 0%; display: block; width: 100%; height: 100%; margin: 0px; padding: 0px; background: rgb(255, 255, 255) none repeat scroll 0% 0%; border: 0px none; opacity: 0;"></ins>
                            </div>
                        </td>
                        <td class="mail-ontact"><a href="mail_detail.html">欧文</a></td>
                        <td class="mail-subject"><a href="mail_detail.html">真理惟一可靠的标准就是永远自相符合。</a></td>
                        <td class=""></td>
                        <td class="text-right mail-date">12月12日</td>
                    </tr>
                    </tbody>
                </table>


            </div>
        </div>
    </div>
</div>