<!-- Mainly scripts -->
<script src="/static/js/jquery-3.1.1.min.js"></script>
<script src="/static/js/bootstrap.min.js"></script>
<script src="/static/js/plugins/metisMenu/jquery.metisMenu.js"></script>
<script src="/static/js/plugins/slimscroll/jquery.slimscroll.min.js"></script>

<!-- FooTable -->
<script src="/static/js/plugins/footable/footable.all.min.js"></script>

<!-- Custom and plugin javascript -->
<script src="/static/js/inspinia.js"></script>
<script src="/static/js/plugins/pace/pace.min.js"></script>
<script src="/static/js/plugins/validate/jquery.validate.min.js"></script>
<script src="/static/js/ch.js"></script>


<script src="/static/js/plugins/ladda/spin.min.js"></script>
<script src="/static/js/plugins/ladda/ladda.min.js"></script>
<script src="/static/js/plugins/ladda/ladda.jquery.min.js"></script>

<!-- Page-Level Scripts -->
<script>
    $(document).ready(function () {

        $('.footable').footable();
        $('.footable2').footable();
        $("#CaseForm").validate({
            rules: {
                Cron: {
                    required: true,
                },
                JobName:{
                    required: true,
                }

            }
        });

    });


    $(function () {
        var $toast;
        var xsrftoken = $('meta[name=_xsrf]').attr('content');

        $("#submit").click(function () {
            $.ajax({
                //几个参数需要注意一下
                type: "POST",//方法类型
                dataType: "json",//预期服务器返回的数据类型
                url: "/jobs/add",
                //url
                data: $('#CaseForm').serialize(),
                beforeSend: function (XMLHttpRequest) {
                    XMLHttpRequest.setRequestHeader("X-Xsrftoken", xsrftoken);
                },
                success: function (result) {
                    if (result["status"] === 1) {
                        $toast = toastr["success"]("提交成功", "成功");
                        window.location.reload();
                    }else if (result["status"] === 2){
                        $toast = toastr["error"]("错误", result["message"]);
                    }
                },
                error: function () {
                    $toast = toastr["error"]("错误", "发送失败");
                }
            });
        });
    });


    function run(obj) {
        var $toast;
        var l = $(".ladda-button-demo").ladda();
        var xsrftoken = $('meta[name=_xsrf]').attr('content');
        // var caseid = obj.id.toString().replace("case","");
        // console.log(caseid);
        l.ladda( 'start' );

        test(obj);
        l.ladda( 'stop' );

        function test(obj) {

            $.ajax({
                //几个参数需要注意一下
                type: "POST",//方法类型
                dataType: "json",//预期服务器返回的数据类型
                url: "/testing/interface/run",
                //url
                data: "id="+obj,
                beforeSend: function (XMLHttpRequest) {
                    XMLHttpRequest.setRequestHeader("X-Xsrftoken", xsrftoken);
                },
                success: function (result) {
                    if (result["status"] === 1) {
                        $toast = toastr.success("提交成功", "成功");
                        l.ladda( 'stop' );
                        window.location.reload();
                    }else if (result["status"] === 0){
                        $toast = toastr["error"]("错误", result["msg"]);
                        l.ladda( 'stop' );
                    }
                },
                error: function () {
                    $toast = toastr["error"]("错误", "发送失败");
                }
            });
        }
    }

</script>
